@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

.full-styles .title,
.full-styles p{
    font-family: "Outfit";
}

.full-styles .title {
    font-weight: 700;
}

.full-styles p {
    font-weight: 400;
    font-size: 15px;
}

