<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">

.full-styles .title,
.full-styles p{
    font-family: "Outfit", sans-serif;
}

.full-styles .title {
    font-weight: 700;
}

.full-styles p {
    font-weight: 400;
    font-size: 15px;
}

