@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

.Outfit-bold {
    font-family: 'Outfit';
    font-weight: 700;
    font-size: 120%;
    letter-spacing: 0px;
    line-height: 120%;
    color: #1f311f;

    text-align: center;
}

.Outfit-regular {
    font-family: 'Outfit';
    font-weight: 400;
    font-size: 90%;
    letter-spacing: 0.2px;
    line-height: 140%;
    color: #68778d;

    text-align: center;
}

.header {
    background-color: #d5e1ef;
    padding: 2%;
    text-align: center;
}

.bg {
    background-color: #d5e1ef;
    text-align: center;
}

#rcorners {
    border-radius: 5%;
    background: #FFFFFF;
    width: 20%;
    margin: auto;
    padding: 1%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

img {
    border-radius: 5%;
    display: block;
    margin: auto;
    width: 100%;
}